<section class="policy-product">
  <div class="container">
    <div class="bg-positon">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="policy-p-card">
            <div class="date">
                <h3>25</h3>
                <h4>Jun</h4>
            </div>
            <div class="policy-img">
                <img src="assets/imgs/course/course-1.jpg" alt="">
            </div>
            <h2>At vero eos et accusamus et</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Dignissimos accusantium deleniti distinctio quis soluta 
                vel perspiciatis adipisci? Modi quasi ipsam ea quo necessitatibus iste excepturi,
                 blanditiis quia eveniet illo doloremque?
            </p>
            <a href="" class="read-more">Read More <i class="Fa fa-caret-rights"></i> </a>
        </div>
        </ng-template>  
        <ng-template carouselSlide>
          <div class="policy-p-card">
            <div class="date">
                <h3>25</h3>
                <h4>Jun</h4>
            </div>
            <div class="policy-img">
                <img src="assets/imgs/marketplace/tv.png" alt="">
            </div>
            <h2>At vero eos et accusamus et</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Dignissimos accusantium deleniti distinctio quis soluta 
                vel perspiciatis adipisci? Modi quasi ipsam ea quo necessitatibus iste excepturi,
                 blanditiis quia eveniet illo doloremque?
            </p>
            <a href="" class="read-more">Read More <i class="Fa fa-caret-rights"></i> </a>
        </div>
        </ng-template>  
        <ng-template carouselSlide>
          <div class="policy-p-card">
            <div class="date">
                <h3>25</h3>
                <h4>Jun</h4>
            </div>
            <div class="policy-img">
                <img src="assets/imgs/project/project3.png" alt="">
            </div>
            <h2>At vero eos et accusamus et</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Dignissimos accusantium deleniti distinctio quis soluta 
                vel perspiciatis adipisci? Modi quasi ipsam ea quo necessitatibus iste excepturi,
                 blanditiis quia eveniet illo doloremque?
            </p>
            <a href="" class="read-more">Read More <i class="Fa fa-caret-rights"></i> </a>
        </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="policy-p-card">
            <div class="date">
                <h3>25</h3>
                <h4>Jun</h4>
            </div>
            <div class="policy-img">
                <img src="assets/imgs/course/course-1.jpg" alt="">
            </div>
            <h2>At vero eos et accusamus et</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Dignissimos accusantium deleniti distinctio quis soluta 
                vel perspiciatis adipisci? Modi quasi ipsam ea quo necessitatibus iste excepturi,
                 blanditiis quia eveniet illo doloremque?
            </p>
            <a href="" class="read-more">Read More <i class="Fa fa-caret-rights"></i> </a>
        </div>
        </ng-template>  
        <ng-template carouselSlide>
          <div class="policy-p-card">
            <div class="date">
                <h3>25</h3>
                <h4>Jun</h4>
            </div>
            <div class="policy-img">
                <img src="assets/imgs/marketplace/tv.png" alt="">
            </div>
            <h2>At vero eos et accusamus et</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Dignissimos accusantium deleniti distinctio quis soluta 
                vel perspiciatis adipisci? Modi quasi ipsam ea quo necessitatibus iste excepturi,
                 blanditiis quia eveniet illo doloremque?
            </p>
            <a href="" class="read-more">Read More <i class="Fa fa-caret-rights"></i> </a>
        </div>
        </ng-template>  
        <ng-template carouselSlide>
          <div class="policy-p-card">
            <div class="date">
                <h3>25</h3>
                <h4>Jun</h4>
            </div>
            <div class="policy-img">
                <img src="assets/imgs/project/project3.png" alt="">
            </div>
            <h2>At vero eos et accusamus et</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Dignissimos accusantium deleniti distinctio quis soluta 
                vel perspiciatis adipisci? Modi quasi ipsam ea quo necessitatibus iste excepturi,
                 blanditiis quia eveniet illo doloremque?
            </p>
            <a href="" class="read-more">Read More <i class="Fa fa-caret-rights"></i> </a>
        </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</section>