<div class="level mt-5">
    <h5 class="fw-bold m-0 mb-3">Level</h5>
    <label for="all" >All Levels</label>
    <input type="checkbox" name="all" id="all" value="alllevel"><br>
  
    <label for="Beginner" >Beginner</label>
    <input type="checkbox" name="Beginner" id="Beginner" value="Beginner"><br>
  
    <label for="Intermediate" >Intermediate</label>
    <input type="checkbox" name="Intermediate" id="Intermediate" value="Intermediate"><br>
              
    <label for="Advanced" >Advanced</label>
    <input type="checkbox" name="Advanced" id="Advanced" value="Advanced">
</div>