<div class="skill mt-5">
    <h5 class="fw-bold mb-3 m-0">Skills</h5>
    <label>
      <input type="checkbox" />
      <span class="seatButton">Book</span>
    </label>
    <label>
      <input type="checkbox" />
      <span class="seatButton">Linux</span>
    </label>
    <label>
      <input type="checkbox" />
      <span class="seatButton">Art</span>
    </label>
    <label>
      <input type="checkbox" />
      <span class="seatButton">Development</span>
    </label>
    <label>
      <input type="checkbox" />
      <span class="seatButton">Software</span>
    </label>
    <label>
      <input type="checkbox" />
      <span class="seatButton">PHP</span>
    </label>
    <label>
      <input type="checkbox" />
      <span class="seatButton">Design</span>
    </label>
</div>