<div class="container-fluid mt-5 mb-5">
    <div class="row">
        <div class="card left col-lg-4 pb-5">
            <h3>Filter</h3>
            <app-product></app-product>
            <app-level></app-level>
            <app-duration></app-duration>
            <app-language></app-language>
            <app-price></app-price>
            <app-skills></app-skills>
        </div>
        <div class="card right col-lg-8">
            <app-related-instructor></app-related-instructor>
        </div>
    </div>
</div>