<div class="language mt-5">
    <h5 class="fw-bold mb-3 m-0">Language</h5>
    <label for="English">English</label>
    <input type="checkbox" name="English" id="English" value="English"><br>

    <label for="Français">Français</label>
    <input type="checkbox" name="Français" id="Français" value="Français"><br>

    <label for="arab">العربية</label>
    <input type="checkbox" name="arab" id="arab" value="arab"><br>

    <label for="Español">Español</label>
    <input type="checkbox" name="Español" id="Español" value="Español"><br>
</div>