<div class="product mt-5">
    <h5 class="fw-bold mb-3">Product</h5>
    <label for="tuto" >Tutor's Courses</label>
    <input type="checkbox" name="tuto" id="tuto" value="tuto"><br>
  
    <label for="school" >School's Courses</label>
    <input type="checkbox" name="school" id="school" value="school"><br>
  
    <label for="coachings" >Coachings</label>
    <input type="checkbox" name="coachings" id="coachings" value="coachings"><br>
              
    <label for="webinars" >Webinars</label>
    <input type="checkbox" name="webinars" id="webinars" value="webinars">
</div>